<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="ngapps.js"></script>
	<script type="text/javascript" src="loginservice.js"></script>
	<script type="text/javascript" src="loginmodel.js"></script>
</head>

<body ng-app="home">
	<div ng-controller="HomeCtrl">
		Login :
		<form name="loginForm" ng-submit="Login(LoginModel)">
			<label>Username : </label>
			<input type="text" ng-model="LoginModel.Username" />
			<label>Password : </label>
			<input type="text" ng-model="LoginModel.Password" />
			<label>Github Username : </label>
			<input type="text" ng-model="LoginModel.GithubUsername" />
			<input type="submit" value="Login" />
		</form>
	</div>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Stars</th>
				<th>Language</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="repo in repos">
				<td>{{repo.name}}</td>
				<td>{{repo.stargazers_count | number}}</td>
				<!-- number is called filter in ng. There are many filters in ng -->
				<td>{{repo.language}}</td>
			</tr>
		</tbody>
	</table>
</body>

</html>

<script type="text/javascript">
	(function(){
		
		var HomeCtrl = function($scope, LoginService, LoginModel){
			$scope.test = "HH";
			$scope.LoginModel =  new LoginModel(); // Initially pass empty model to View
			
			var loginViewmodel = new LoginModel({Username: 'Yeasin', Passowrd: '1234'});
			
			$scope.Login = function(loginModel){		
						
				LoginService.checkLogin(loginViewmodel);
				var callbacks = {
					success: function(response){
						$scope.repos = response;
						console.log($scope.repos);
					},
					error: function(){
						console.log("Failed to get data");
					}
				};
					
				LoginService.getGithubData(loginModel.GithubUsername, callbacks);
			};
		};
		
		myApp.controller('HomeCtrl', ['$scope', 'LoginService', 'LoginModel', HomeCtrl]);
	})();

</script>