<div class="row session">

	<div class="span0 well votingWidget">
		<div class="votingButton" ng-click="upVoteSession(session)">
			<i class="icon-chevron-up icon-white"></i>
		</div>
		<div class="badge badge-inverse">
			<div>{{session.upVoteCount}}</div>
		</div>
		<div class="votingButton">
			<i class="icon-chevron-down" ng-click="downVoteSession(session)"></i>
		</div>
	</div>

	<div class="well span9">
		<h4 class="well title">{{session.name}}</h4>
		<h6 style="margin-top:-10px">{{session.creatorName}}</h6>
		<span>Duration: {{session.duration | customFilterDuration }}</span>
		<br />
		<span>Level: {{session.level}}</span>

		<p>{{session.abstract}}</p>
	</div>
</div>