<div class="container">
	<div style="padding-left:20px; padding-right: 20px">
		<div class="container">
			<h1>New Event</h1>
			<hr />
			<form>
				<fieldset>
					<label for="eventName">Event Name:</label>
					<input id="eventName" type="text" ng-model="newevent.name" placeholder="Name of your Event" />
					<label for="eventDate">Event Date:</label>
					<input id="eventDate" type="text" ng-model="newevent.date" placeholder="Date of your Event" />
					<label for="eventTime">Event Time:</label>
					<input id="eventTime" type="text" ng-model="newevent.time" placeholder="Time of your Event" />
					<label for="eventLocation">Event Location:</label>
					<input id="eventLocation" type="text" ng-model="newevent.location.adderss" placeholder="Location of your Event" />
					<br />
					<input id="eventCity" type="text" class="input-small" ng-model="newevent.location.city" placeholder="City..." />
					<input id="eventProvince" type="text" class="input-small"  ng-model="newevent.location.province" placeholder="Province..." />

					<label for="eventImageUrl">Image:</label>
					<input id="eventImageUrl" type="url" class="input-xlarge" ng-model="newevent.imageUrl" placeholder="Url of image..." />
				</fieldset>

				<img ng-src="{{event.imageUrl}}" src="" />
				<br />
				<br />

				<button type="submit" ng-click="saveEvent(newevent)" class="btn btn-primary">Save</button>
				<button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
			</form>
		</div>
	</div>
</div>